In [1]:
import pandas as pd 
import numpy as np

In [2]:
df = pd.read_csv("telecom_churn.csv")
df.head()

,customer_id,telecom_partner,gender,age,state,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn
0,1,Reliance Jio,F,25,Karnataka,Kolkata,755597,2020-01-01,4,124962,44,45,-361,0
1,2,Reliance Jio,F,55,Mizoram,Mumbai,125926,2020-01-01,2,130556,62,39,5973,0
2,3,Vodafone,F,57,Arunachal Pradesh,Delhi,423976,2020-01-01,0,148828,49,24,193,1
3,4,BSNL,M,46,Tamil Nadu,Kolkata,522841,2020-01-01,1,38722,80,25,9377,1
4,5,BSNL,F,26,Tripura,Delhi,740247,2020-01-01,2,55098,78,15,1393,0

In [3]:
df.shape

(243553, 14)

In [4]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 243553 entries, 0 to 243552
Data columns (total 14 columns):
 #   Column                Non-Null Count   Dtype
---  ------                --------------   -----
 0   customer_id           243553 non-null  int64
 1   telecom_partner       243553 non-null  object
 2   gender                243553 non-null  object
 3   age                   243553 non-null  int64
 4   state                 243553 non-null  object
 5   city                  243553 non-null  object
 6   pincode               243553 non-null  int64
 7   date_of_registration  243553 non-null  object
 8   num_dependents        243553 non-null  int64
 9   estimated_salary      243553 non-null  int64
 10  calls_made            243553 non-null  int64
 11  sms_sent              243553 non-null  int64
 12  data_used             243553 non-null  int64
 13  churn                 243553 non-null  int64
dtypes: int64(9), object(5)
memory usage: 26.0+ MB

In [5]:
df.telecom_partner.unique()

array(['Reliance Jio', 'Vodafone', 'BSNL', 'Airtel'], dtype=object)

In [6]:
df.state.unique()

array(['Karnataka', 'Mizoram', 'Arunachal Pradesh', 'Tamil Nadu',
       'Tripura', 'Uttarakhand', 'Himachal Pradesh', 'Rajasthan',
       'Odisha', 'Uttar Pradesh', 'Chhattisgarh', 'Madhya Pradesh',
       'Manipur', 'Goa', 'West Bengal', 'Gujarat', 'Telangana',
       'Maharashtra', 'Haryana', 'Andhra Pradesh', 'Sikkim', 'Assam',
       'Jharkhand', 'Kerala', 'Punjab', 'Nagaland', 'Bihar', 'Meghalaya'],
      dtype=object)

In [9]:
df.city.unique()

array(['Kolkata', 'Mumbai', 'Delhi', 'Chennai', 'Hyderabad', 'Bangalore'],
      dtype=object)

In [7]:
c =  0 
for i in df.data_used:
    if i > 0:
        c = c+1

print(c)

237489

In [9]:
state_localization = {
    # Bagmati Province (Urban, High Tech, Capital)
    'Karnataka': 'Bagmati', 'Maharashtra': 'Bagmati', 'Tamil Nadu': 'Bagmati', 
    'Telangana': 'Bagmati', 'Delhi': 'Bagmati', 'Goa': 'Bagmati',
    
    # Madhesh Province (Terai, High Population, Industrial)
    'Bihar': 'Madhesh', 'Uttar Pradesh': 'Madhesh', 'Andhra Pradesh': 'Madhesh',
    
    # Koshi Province (Eastern, Industrial & Hilly Mix)
    'West Bengal': 'Koshi', 'Sikkim': 'Koshi', 'Arunachal Pradesh': 'Koshi', 
    'Assam': 'Koshi', 'Nagaland': 'Koshi', 'Manipur': 'Koshi',
    
    # Gandaki Province (Tourism Hub, Hilly)
    'Punjab': 'Gandaki', 'Haryana': 'Gandaki', 'Gujarat': 'Gandaki', 'Tripura': 'Gandaki',
    
    # Lumbini Province (Mid-Terai, Plains)
    'Rajasthan': 'Lumbini', 'Madhya Pradesh': 'Lumbini', 'Chhattisgarh': 'Lumbini', 'Odisha': 'Lumbini',
    
    # Karnali Province (Remote, Mountainous)
    'Mizoram': 'Karnali', 'Himachal Pradesh': 'Karnali', 'Meghalaya': 'Karnali',
    
    # Sudurpashchim Province (Far-Western)
    'Uttarakhand': 'Sudurpashchim', 'Jharkhand': 'Sudurpashchim', 'Kerala': 'Sudurpashchim'
}


df['province'] = df['state'].map(state_localization)

In [17]:
city_localization = {
    'Banglore' : 'Lalitpur',
    'Mumbai': 'Birjung',
    'Delhi' : 'Kathmandu',
    'Hyderabad' : 'Pokhara',
    'Chennai': 'Biratnagar',
    'Kolkota' : 'Janakpur',
}
df['city'] = df['city'].map(state_localization).fillna('Kathmandu')

In [25]:
# Create the mapping dictionary
provider_mapping = {
    'Airtel': 'Ncell',
    'Reliance Jio': 'Ncell',
    'BSNL': 'Nepal Telecom (NTC)',
    'Vodafone': 'Nepal Telecom (NTC)'
}

# Apply the mapping to your provider column
df['provider_nepal'] = df['telecom_partner'].replace(provider_mapping)

# Double check the result
print(df['provider_nepal'].value_counts())

provider_nepal
Ncell                  122028
Nepal Telecom (NTC)    121525
Name: count, dtype: int64

In [29]:
df.drop(['telecom_partner', 'state'], axis=1)

,customer_id,gender,age,city,pincode,date_of_registration,num_dependents,estimated_salary,calls_made,sms_sent,data_used,churn,province,provider_nepal
0,1,F,25,Kathmandu,755597,2020-01-01,4,124962,44,45,-361,0,Bagmati,Ncell
1,2,F,55,Kathmandu,125926,2020-01-01,2,130556,62,39,5973,0,Karnali,Ncell
2,3,F,57,Kathmandu,423976,2020-01-01,0,148828,49,24,193,1,Koshi,Nepal Telecom (NTC)
3,4,M,46,Kathmandu,522841,2020-01-01,1,38722,80,25,9377,1,Bagmati,Nepal Telecom (NTC)
4,5,F,26,Kathmandu,740247,2020-01-01,2,55098,78,15,1393,0,Gandaki,Nepal Telecom (NTC)
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
243548,243549,F,28,Kathmandu,110295,2023-05-03,3,130580,28,9,4102,0,Karnali,Ncell
243549,243550,F,52,Kathmandu,713481,2023-05-03,0,82393,80,45,7521,0,Koshi,Ncell
243550,243551,M,59,Kathmandu,520218,2023-05-03,4,51298,26,4,6547,0,Gandaki,Ncell
243551,243552,M,49,Kathmandu,387744,2023-05-03,2,83981,80,15,1125,0,Lumbini,Nepal Telecom (NTC)
243552,243553,F,37,Kathmandu,139086,2023-05-04,0,144297,61,7,3384,0,Bagmati,Nepal Telecom (NTC)

In [27]:
df.isnull().sum()

customer_id             0
telecom_partner         0
gender                  0
age                     0
state                   0
city                    0
pincode                 0
date_of_registration    0
num_dependents          0
estimated_salary        0
calls_made              0
sms_sent                0
data_used               0
churn                   0
province                0
provider_nepal          0
dtype: int64